.possibilities-block {
    min-height: 65vh;
    text-align: center;
}
.p1 {
    margin-right: 10px;
    color: #32435e;
    font-size: x-large;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;

}
.p2 {
    font-size: x-large;
    font-weight: lighter;
    font-family: 'Raleway', sans-serif;
    color: rgb(8, 38, 68);
}
.contact-block{
    min-height: 45vh;
    text-align: center;
}
.target-block{
    min-height: 62vh;
    text-align: center;
    background: linear-gradient(
            45deg,
            rgba(3, 0, 31, 0.9),
            rgba(11, 91, 165, 0.6)
    ),
    url("../img/bg.svg");
}