.subscribes-block{
    min-height: 40vh;
    text-align: center;
    background: linear-gradient(
            45deg,
            rgba(3, 0, 31, 0.9),
            rgba(11, 91, 165, 0.6)
    ),
    url("../img/bg.svg");
}
